.date-picker {
    -fx-background-color: #e0e0e0;

}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5 0 0 5;
    -fx-border-radius: 5 0 0 5;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 0 5 5 0;
    -fx-border-radius: 0 5 5 0;
}

.choice-box {
    -fx-background-color: #e0e0e0;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.choice-box .list-view {
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}